naming:
  server_name: example-cons-app

cron:
  cron_user: postnikov

logging:
  logs_path: /var/log/bc
  trigger_filepath: /etc/zabbix/backup.trigger

actions:
  check_backup:
    type: check_backup

  tarjob_0level_etc:
    basename: etc
    check_level_list_only: 'False'
    compression: 3
    exclusions: '*/data/*, */attachments/*, */tmp/*, ./backup/*, ./updates/*'
    use_re_in_exclusions: false
    src_path: /etc
    dest_path: /backup
    level: 0
    level_folders: 0,1,2
    descr: бэкап файлов /etc 0-го уровня
    type: tar

  tarjob_1level_etc:
    source: tarjob_0level_etc
    level: 1
    descr: бэкап файлов /etc 1-го уровня
    type: tar

schedule:
  make_full_dump_cons_noregion:
    naming:
      project: cons
      region: noregion
    actions:
        - tarjob_0level_etc
    
    cron: 00 23 * * 0
    descr: Бекап каталога 0-го уровня (полный)

  make_diff_dump_cons_noregion:
    naming:
      project: cons
      region: noregion
    actions:
        - tarjob_1level_etc

    cron: 00 23 * * 1-6
    descr: Бекап каталога 1-го уровня (разностный)
