naming:
  server_name: example-cons-app

cron:
  cron_user: user

logging:
  logs_path: /var/log/bc
  trigger_filepath: /etc/zabbix/backup.trigger

actions:
  check_backup:
    type: check_backup

  tarjob_0level_opt:
    basename: opt
    check_level_list_only: 'False'
    compression: 3
    exclusions: '*/data/*, */tmp/*, ./backup/*, ./updates/*'
    use_re_in_patterns: false
    src_path: /opt
    dest_path: /backup
    level: 0
    level_folders: 0,1,2
    descr: бэкап файлов /opt 0-го уровня
    type: tar

  tarjob_1level_opt:
    source: tarjob_0level_opt
    level: 1
    descr: бэкап файлов /opt 1-го уровня
    type: tar

schedule:
  make_full_dump_cons_noregion:
    naming:
      project: cons
      region: noregion
    actions:
        - tarjob_0level_opt
    
    cron: 00 23 * * 0
    descr: Бекап каталога 0-го уровня (полный)

  make_diff_dump_cons_noregion:
    naming:
      project: cons
      region: noregion
    actions:
        - tarjob_1level_opt

    cron: 00 23 * * 1-6
    descr: Бекап каталога 1-го уровня (разностный)
